<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Created by Mike Tan from <a href="http://www.goodcoresoft.com/" target ="_blank">Goodcore</a> as a Training on Ruby on Rails based on <a href="http://railstutorial.org/" target ="_blank">Ruby on Rails Tutorial</a>.
</p>
